/*-- scss:rules --*/

.navbar-logo{
  max-height: 50px
}

.card-header {
  background-color: #424242;
}

.tabset.card {
    --bs-card-spacer-y: 10px;
    --bs-card-spacer-x: 10px;
}

.card-title span {
  font-size: 0.80rem;
}

.nav-tabs {
  font-size: 0.80rem;
}

.nav-item > a:hover {
  color: #fc4c02;
}

.nav-tabs .nav-link {
  background-color: transparent;
  border-color: transparent;
  color: grey;
  padding: 0.5em 1em;
}

.nav-tabs .nav-link:hover {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.bslib-value-box .value-box-area {
padding: 1rem 1rem;
}

.bslib-value-box .value-box-title {
margin-bottom: 0rem;
font-size: clamp(0.40rem,15cqw,0.85rem);
}

.bslib-value-box .value-box-value {
margin-bottom: 0rem;
font-size: clamp(.1em,15cqw,2.5em);
}

footer {
    display: none !important;
}

html body .reactable .tag {
  background-color: #2d2d2d !important;
}

/*.nav-footer {
  min-height: 0em; 
}

.nav-footer {
  padding-top: 0rem;
  padding-bottom: 0rem; 
}
*/